<mat-card>
    <mat-card-header>
        <mat-card-title>Chat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div id="chat-container">
            <ng-template appChatHost></ng-template>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <form>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="text"></textarea>
            </mat-form-field>
        </form>
    </mat-card-actions>
</mat-card>