:host {
    display: block;
    position: relative;
}

canvas {
    width: (80vh / 720px * 1280px);
    height: 80vh;
    background-color: red;
}

canvas:hover + #hud {
    opacity: 1.0;
}

#hud {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 2;
    padding: 0 10px;
    border-radius: 50px;
    opacity: 0;
    transition: all 0.3s;
}

#hud:hover {
    opacity: 1.0;
}

#hud button {
    width: 64px;
    height: 64px;
    margin: 20px;
}