<canvas #canvas></canvas>
<div id="hud">
    <button mat-fab color="" aria-label="Example icon button with a delete icon">
        <mat-icon>color_lens</mat-icon>
    </button>
    <button mat-fab color="" aria-label="Example icon button with a delete icon">
        <mat-icon>mode</mat-icon>
    </button>
    <button mat-fab color="" aria-label="Example icon button with a delete icon">
        <mat-icon>title</mat-icon>
    </button>
    <button mat-fab color="" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
    </button>
</div>